* {
	font-family: var(--font-0), "Courier New", Courier, monospace;
	background-color: var(--bg-0);
	color: var(--text-0);
	border-color: var(--border-0) !important;
}

.text-muted {
	color: var(--text-1);
}

.disable-drag {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}