@font-face {
    font-family: "Geist Mono", serif;
    src: url("/fonts/GeistMono.woff2");
}

:root {
    --font-mono: "Geist Mono", serif;
}

* {
	font-family: var(--font-mono), ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
	text-rendering: optimizeLegibility;
    font-feature-settings: normal;
    font-variation-settings: normal;
}